* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ----------Home----------- */
.banner {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url(.//image/background.jpg);
  background-size: cover;
  background-position: center;
}

.home-nav {
  width: 85%;
  margin: auto;
  padding: 25px 0;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 120px;
  cursor: pointer;
}

.home-nav ul li {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
}
.home-nav ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background-color: orange;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.home-nav ul li:hover:after {
  width: 100%;
}

.home-nav ul li a {
  text-decoration: none;
  color: white;
}
.home-nav ul li a:hover {
  text-decoration: none;
  font-size: 20px;
}
.title {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.title h1 {
  color: white;
  font-size: 100px;
  font-family: "Ubuntu";
}
.title h1:hover {
  color: orange;
  transition: 0.5s;
}

.title p {
  color: rgb(182, 177, 177);
  font-size: 20px;
  margin-top: 5px;
}
.title p:hover {
  color: white;
  transition: 0.5s;
  font-size: 21px;
}

/* -----------Contact US---------- */
.banner-cont {
  min-height: 450px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./image/contact.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.content{
    margin-top: 5%;
}
.title-cont h2 {
  color: white;
  text-align: center;
  font-size: 100px;

}
.content-cont {
  border: 1px solid orange;
  display: inline-block;
  background-image: linear-gradient(orange, white);
  padding: 25px;
}
.content-cont ul li{
    list-style: none;
}
.list-cont{
    display: flex;
}